untitled.sublime-project
untitled.sublime-workspace
backend/slippsserver/dev
backend/slippsserver/slippsserver/__pycache__
backend/slippsserver/apiserver/migrations/__pycache__
backend/slippsserver/apiserver/__pycache__
logfile.log
package-lock.json
frontend/package-lock.json
*.pyc
